@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.otf');
}

@font-face {
    font-family: 'Jellee';
    src: url('../fonts/Jellee.otf');
}

body {
    background-color: white;
    font-size: 12px;
    margin-top: 60px;
}

h1, h2, h3, h4, h5 {
    font-family: "Jellee";
}

#navlogo {
    width: 30px;
    height: 30px;
}

#profname {
    font-size: 0.9em;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: black;
    font-weight: bold;
}

.navbar {
    color: white;
}

.navbar-default {
    background-color: #2ECC71;
    color: white;
    border: none;
}

.navbar-toggle {
    border: none;
    color: white;
    background-color: #2ECC71;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-brand {
    color: white;
    font-family: "Jellee";
}
/*
.navbar-default .navbar-nav .dropdown-menu>li>a
.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav>.open>a,  {
    color: white;
}

.navbar-default .navbar-nav>.open>a:hover {
    background-color: #2ECC71;
}*/
@media screen and (max-device-width: 768px) {

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .content {
    	margin-top: 50px;
        text-align: center;
    }

    #username, #password {
        background-color: #F4F6F7;
        border: none; 
    }

    .btn {
        border: none;
    }

    .btn-green {
        background-color: #2ECC71; 
        color: white; 
        width: 100%;
    }

    .btn-orange {
        background-color: #F39C12;
        color: white;
    }

    .btn-blue {
        background-color: #3498DB;
        color: white;
    }


    input {
        border: none;
        border-bottom: 3px solid #CACFD2;
        min-width: 300px;
    }

    .panel-default {
        margin: 5px;
        padding: 5px;
        border: none;
    }

    .months li {
        list-style-type: none;
    }

    .list-group-item {
        border: none;
    }

    .tbl {
        min-width: 320px;
        margin: 2px 3px;
    }
    .tbl h4 {
        margin-left: 10px;
    }

    .tbl ul {
        list-style-type: none;
        padding: 3px;
    }

    .tbl li {
        background-color: #F4F6F7;
        border-radius: 0 10px 10px 0;
        border-left: 3px solid #F8C471;
        padding: 5px;
        margin: 4px 0;
    }


}